@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: url(../imagenes/cabaña6.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: 'Rock Salt', cursive; }

.container__principal {
  width: 90%;
  margin: 0 5% 0 5%;
  /* ---PAGINA GALERIA---*/
  /* ---PAGINA UBICACION---*/ }
  .container__principal .cabecera {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    background-color: #598059;
    width: 95%;
    margin: 0 2.5% 0 2.5%;
    border: solid rgba(0, 0, 0, 0.856) 2px;
    filter: opacity(0.9); }
    .container__principal .cabecera .cabecera__logo {
      width: 20%; }
      .container__principal .cabecera .cabecera__logo .cabecera__logo-imagen {
        width: 50%;
        margin: 5%;
        border-radius: 10%; }
        .container__principal .cabecera .cabecera__logo .cabecera__logo-imagen:hover {
          transform: scale(1, 1.1); }
  .container__principal .cabecera__nav {
    width: 80%; }
    .container__principal .cabecera__nav .cabecera__nav-menu {
      display: flex;
      justify-content: space-around;
      list-style: none;
      font-size: 2rem; }
      .container__principal .cabecera__nav .cabecera__nav-menu .menu__item .menu__item-link {
        text-decoration: none;
        padding: 5px;
        color: rgba(71, 50, 3, 0.822);
        background-color: white;
        border-radius: 50px; }
        .container__principal .cabecera__nav .cabecera__nav-menu .menu__item .menu__item-link:hover {
          background-color: rgba(71, 50, 3, 0.822);
          color: white;
          border: solid rgba(0, 0, 0, 0.856) 2px; }
  .container__principal .seccion__titulo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url(../imagenes/cabaña5.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 95%;
    text-align: center;
    align-items: center;
    margin: 1rem 2.5% 1rem 2.5%;
    border-radius: 10px;
    border: solid rgba(0, 0, 0, 0.856) 2px; }
    .container__principal .seccion__titulo .titulo__principal {
      font-size: 3.5rem;
      color: rgba(0, 0, 0, 0.856);
      text-shadow: 0 0 4px white; }
    .container__principal .seccion__titulo .titulo__secundario {
      font-size: 3rem;
      color: white; }
    .container__principal .seccion__titulo .titulo__comentario {
      font-family: "Courgette", cursive;
      color: white;
      font-size: 1.5rem; }
  .container__principal .contenedor__ofrecimientos {
    width: 95%;
    margin: 0 2.5% 0 2.5%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px; }
    .container__principal .contenedor__ofrecimientos .ofrecimiento__gastronomia {
      background-color: #598059;
      border-radius: 10px;
      width: 30%;
      border: solid rgba(0, 0, 0, 0.856) 2px;
      filter: opacity(0.9); }
      .container__principal .contenedor__ofrecimientos .ofrecimiento__gastronomia .gastronima__titulo {
        text-align: center;
        font-size: 1.5rem;
        color: rgba(0, 0, 0, 0.856); }
      .container__principal .contenedor__ofrecimientos .ofrecimiento__gastronomia .gastronomia__caja {
        width: 95%;
        margin: 0 2.5% 0 2.5%; }
        .container__principal .contenedor__ofrecimientos .ofrecimiento__gastronomia .gastronomia__caja .ofrecimientos__imagen {
          width: 100%;
          border-radius: 20px;
          border: solid rgba(0, 0, 0, 0.856) 2px; }
      .container__principal .contenedor__ofrecimientos .ofrecimiento__gastronomia .gastronomia__texto {
        color: white;
        font-family: "Courgette", cursive;
        font-size: 1.4rem;
        margin-left: 2%; }
    .container__principal .contenedor__ofrecimientos .ofrecimiento__servicios {
      background-color: #598059;
      border-radius: 10px;
      width: 30%;
      border: solid rgba(0, 0, 0, 0.856) 2px;
      filter: opacity(0.9); }
      .container__principal .contenedor__ofrecimientos .ofrecimiento__servicios .servicio__titulo {
        text-align: center;
        font-size: 1.5rem;
        color: rgba(0, 0, 0, 0.856); }
      .container__principal .contenedor__ofrecimientos .ofrecimiento__servicios .servicio__caja {
        width: 95%;
        margin: 0 2.5% 0 2.5%; }
        .container__principal .contenedor__ofrecimientos .ofrecimiento__servicios .servicio__caja .ofrecimientos__imagen {
          width: 100%;
          border-radius: 20px;
          border: solid rgba(0, 0, 0, 0.856) 2px; }
      .container__principal .contenedor__ofrecimientos .ofrecimiento__servicios .servicio__texto {
        color: white;
        font-family: "Courgette", cursive;
        font-size: 1.4rem;
        margin-left: 2%; }
    .container__principal .contenedor__ofrecimientos .ofrecimiento__actividades {
      background-color: #598059;
      border-radius: 10px;
      width: 30%;
      border: solid rgba(0, 0, 0, 0.856) 2px;
      filter: opacity(0.9); }
      .container__principal .contenedor__ofrecimientos .ofrecimiento__actividades .actividades__titulo {
        text-align: center;
        font-size: 1.5rem;
        color: rgba(0, 0, 0, 0.856); }
      .container__principal .contenedor__ofrecimientos .ofrecimiento__actividades .actividades__caja {
        width: 95%;
        margin: 0 2.5% 0 2.5%; }
        .container__principal .contenedor__ofrecimientos .ofrecimiento__actividades .actividades__caja .actividades__imagen {
          width: 100%;
          border-radius: 20px;
          border: solid rgba(0, 0, 0, 0.856) 2px; }
      .container__principal .contenedor__ofrecimientos .ofrecimiento__actividades .actividades__texto {
        color: white;
        font-family: "Courgette", cursive;
        font-size: 1.4rem;
        margin-left: 2%; }
  .container__principal .footer__principal {
    width: 95%;
    margin: 2rem 2.5% 2rem 2.5%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #598059;
    filter: opacity(0.9); }
    .container__principal .footer__principal .footer__caja {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 20px;
      border: solid rgba(0, 0, 0, 0.856) 2px; }
    .container__principal .footer__principal .footer__titulo {
      font-family: "Courgette", cursive;
      text-align: center;
      font-size: 1.5rem;
      justify-content: center; }
    .container__principal .footer__principal .footer__logo {
      width: 90%;
      margin: 0 2.5%;
      border: solid rgba(0, 0, 0, 0.856) 2px;
      border-radius: 20px; }
  .container__principal .galeria__fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
    margin: 0 2.5%; }
    .container__principal .galeria__fotos .fotos {
      width: 45%; }
    .container__principal .galeria__fotos .fotos img {
      width: 100%;
      height: 50vh;
      border-radius: 20px; }
  .container__principal .contenedor__seccion-ubicacion {
    display: flex;
    width: 95%;
    margin: 0 2.5%;
    justify-content: space-between; }
    .container__principal .contenedor__seccion-ubicacion .seccion__ubicacion-1 {
      border-radius: 10px;
      background-color: #598059;
      width: 30%;
      display: flex;
      flex-direction: column;
      border: solid rgba(0, 0, 0, 0.856) 2px;
      filter: opacity(0.9); }
      .container__principal .contenedor__seccion-ubicacion .seccion__ubicacion-1 .textoubi {
        font-size: 1.5rem;
        font-family: "Courgette", cursive; }
      .container__principal .contenedor__seccion-ubicacion .seccion__ubicacion-1 .imgubi {
        font-size: 1.5rem;
        font-family: "Courgette", cursive; }

@media screen and (min-width: 0px) and (max-width: 768px) {
  .cabecera__logo {
    width: 10%; }
  .titulo__principal {
    font-size: 0.5rem; }
  .cabecera__nav {
    width: 90%;
    flex-direction: column; }
  .cabecera__nav-menu {
    font-size: 1rem; }
  .menu__item-link {
    font-size: 1.5rem;
    padding: 2px;
    margin-left: 40px; }
  .contenedor__ofrecimientos {
    flex-wrap: wrap; }
  .ofrecimiento__gastronomia {
    width: 100%;
    margin-bottom: 5%; }
  .ofrecimiento__servicios {
    width: 100%;
    margin-bottom: 5%; }
  .ofrecimiento__actividades {
    width: 100%;
    margin-bottom: 5%; }
  .contenedor__seccion-ubicacion {
    flex-wrap: wrap; }
  .seccion__ubicacion-2 {
    width: 100%;
    margin-bottom: 5%; }
  .footer__principal {
    flex-direction: column; }
  .footer__caja {
    width: 120%;
    margin-bottom: 5%;
    margin-left: 30%; }
  .footer__titulo {
    font-size: 0.5rem; } }

@media screen and (max-width: 420px) {
  body {
    background-color: rgba(0, 0, 0, 0.856); }
  .cabecera__logo {
    width: 10%; }
  .titulo__principal {
    font-size: 0.5rem; }
  .cabecera {
    width: 100%;
    margin: auto; }
  .cabecera__nav {
    width: 90%;
    flex-direction: column; }
  .cabecera__nav-menu {
    font-size: 1rem; }
  .menu__item-link {
    font-size: 1.5rem;
    padding: 2.5px;
    margin-left: 40px; } }

@media screen and (max-width: 420px) and (min-width: 420px) and (max-width: 768px) {
  .fotos img {
    height: 30vh; }
  .menu__item-link {
    font-size: 0.5rem;
    padding: 1px; }
  .cabecera__nav-menu {
    padding: 2px; }
  .cabecera__nav {
    width: 100%; } }

@media screen and (max-width: 420px) and (max-width: 420px) {
  .fotos {
    width: 80%;
    margin: 2rem 10%; }
  .fotos img {
    height: 80%;
    width: 100%;
    margin-left: 30%; }
  .galeria__fotos {
    flex-direction: column; } }

@media screen and (max-width: 420px) and (max-width: 420px) and (max-width: 768px) {
  .contenedor__seccion-ubicacion {
    flex-direction: row;
    width: 100%; }
  .seccion__ubicacion-1 {
    width: 100%;
    margin-bottom: 2rem;
    flex-direction: row; }
  .cabecera {
    flex-direction: column; }
  .cabecera__nav-menu {
    flex-direction: column; } }
