$clarito: rgb(255, 255, 255);
$verde: #598059;
$oscuro:rgba(0, 0, 0, 0.856);


  
    
@mixin sections() {
  background-color: $verde;
  border-radius: 10px;
  width: 95%;
  padding: 15px;
  margin: 15px;
  border: solid $oscuro 2px;
  
  &:hover{
    transform: scale(1.04);
    
  }
  & .titulo{
    text-align: center;
    font-size: 2.5rem;
    padding: 10px;
    color: $oscuro
  }
  & .texto{
    color: $clarito;
    line-height: 2;
    padding: 10px;
    font-family: 'Courgette', cursive;
    font-size: 2rem;
  }
  & .caja{
    padding: 10px;
    margin: 15px;
    
  }
  & .imagen{
    width: 500px;
    height: 300px;
    border-radius: 20px;
    padding: 15px;
    border: solid $oscuro 2px;
  }
}
   
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-image:url(../imagenes/cabaña6.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family:'Rock Salt', cursive; 
  }
    
    
.container__principal {
   width: 90%;
   margin: 0 5% 0 5%;
   & .cabecera{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    background-color: $verde;
    width: 95%;
    margin: 0 2.5% 0 2.5%;
    border: solid $oscuro 2px ;
    filter: opacity(0.9);
    & .cabecera__logo{
      width: 20%;
      & .cabecera__logo-imagen{
        width: 50%;
        margin: 5%;
        border-radius: 10%;
        &:hover{
          transform: scale(1,1.1);
        }
      }
    }
   }
   .cabecera__nav{ 
    width: 80%;
    & .cabecera__nav-menu{
      display: flex;
      justify-content: space-around;
      list-style: none;
      font-size: 2rem;
      & .menu__item{
        & .menu__item-link{
          text-decoration: none;
          padding: 5px;
          color: rgba(71, 50, 3, 0.822);
          background-color: $clarito;
          border-radius: 50px;
          &:hover {
            background-color: rgba(71, 50, 3, 0.822);
            color: $clarito;
            border: solid rgba(0, 0, 0, 0.856) 2px;
          }
        }
      }
    }
  }
   

   & .seccion__titulo{
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     background-image: url(../imagenes/cabaña5.jpeg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     width: 95%;
     text-align: center;
     align-items: center;
     margin: 1rem 2.5% 1rem 2.5%;
     border-radius: 10px;
     border: solid rgba(0, 0, 0, 0.856) 2px;
     & .titulo__principal{
      font-size: 3.5rem;
      color: $oscuro;
      text-shadow: 0 0 4px white;
     }
     & .titulo__secundario{
      font-size: 3rem;
      color: $clarito;
     }
     & .titulo__comentario{
      font-family: "Courgette", cursive;
      color: $clarito;
      font-size: 1.5rem;
     }
    } 
   & .contenedor__ofrecimientos{
      width: 95%;
      margin: 0 2.5% 0 2.5%;
      display: flex;
      justify-content: space-between;
      border-radius: 10px;
      & .ofrecimiento__gastronomia{
        background-color: $verde;
        border-radius: 10px;
        width: 30%;
        border: solid $oscuro 2px;
        filter: opacity(0.9);
        & .gastronima__titulo{
          text-align: center;
          font-size: 1.5rem;
          color: $oscuro;
        }
        & .gastronomia__caja{
          width: 95%;
          margin: 0 2.5% 0 2.5%;
          & .ofrecimientos__imagen{
            width: 100%;
            border-radius: 20px;
            border: solid $oscuro 2px;
          }
        }
        & .gastronomia__texto{
          color: $clarito;
          font-family: "Courgette", cursive;
          font-size: 1.4rem;
          margin-left: 2%;
        }
      }
      & .ofrecimiento__servicios{
        background-color: $verde;
        border-radius: 10px;
        width: 30%;
        border: solid $oscuro 2px;
        filter: opacity(0.9);
        & .servicio__titulo{
          text-align: center;
          font-size: 1.5rem;
          color: $oscuro;
        }
        & .servicio__caja{
          width: 95%;
          margin: 0 2.5% 0 2.5%;
          & .ofrecimientos__imagen{
            width: 100%;
            border-radius: 20px;
            border: solid $oscuro 2px;
          }
        }
        & .servicio__texto{
          color: $clarito;
          font-family: "Courgette", cursive;
          font-size: 1.4rem;
          margin-left: 2%;
        }
      }
      & .ofrecimiento__actividades{
        background-color: $verde;
        border-radius: 10px;
        width: 30%;
        border: solid $oscuro 2px;
        filter: opacity(0.9);
        & .actividades__titulo{
          text-align: center;
          font-size: 1.5rem;
          color: $oscuro;
        }
        & .actividades__caja{
          width: 95%;
          margin: 0 2.5% 0 2.5%;
          & .actividades__imagen{
            width: 100%;
            border-radius: 20px;
            border: solid $oscuro 2px;
          }
        }
        & .actividades__texto{
          color: $clarito;
          font-family: "Courgette", cursive;
          font-size: 1.4rem;
          margin-left: 2%;
        }
      }
   } 
    & .footer__principal{
        width: 95%;
        margin: 2rem 2.5% 2rem 2.5%;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        background-color:$verde;
        filter: opacity(0.9);
        
    & .footer__caja{
          width: 30%;
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 20px;
         border: solid $oscuro 2px;}
    & .footer__titulo{
         font-family: "Courgette", cursive;
         text-align: center;
         font-size: 1.5rem;
         justify-content: center;}
    & .footer__logo{
          width: 90%;
          margin: 0 2.5%;
          border: solid $oscuro 2px;
          border-radius: 20px;
        }
      }
      /* ---PAGINA GALERIA---*/
  
  & .galeria__fotos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
    margin: 0 2.5%;
    & .fotos{
      width: 45%;
    }
    & .fotos img{
      width: 100%;
    height: 50vh;
    border-radius: 20px;
    }
  } 

      /* ---PAGINA UBICACION---*/
      
  & .contenedor__seccion-ubicacion{
        display: flex;
        width: 95%;
        margin: 0 2.5%;
        justify-content: space-between;
        & .seccion__ubicacion-1{
          border-radius: 10px;
          background-color: #598059;
          width: 30%;
          display: flex;
          flex-direction: column;
          border: solid rgba(0, 0, 0, 0.856) 2px;
          filter: opacity(0.9);
          & .textoubi{
            font-size: 1.5rem;
            font-family: "Courgette", cursive;
          }
          & .imgubi{
            font-size: 1.5rem;
            font-family: "Courgette", cursive;
          }
        }
      }
    }




@media screen and (min-width: 0px) and (max-width: 768px) {
  
  .cabecera__logo {
    width: 10%;
}
.titulo__principal{
  font-size: 0.5rem;
}

.cabecera__nav {
    width: 90%;
    flex-direction: column;
}

.cabecera__nav-menu {
    font-size: 1rem;
}
.menu__item-link {
  font-size: 1.5rem;
  padding: 2px;
  margin-left: 40px;
}
.contenedor__ofrecimientos {
    flex-wrap: wrap;
    
}
.ofrecimiento__gastronomia {
    width: 100%;
    margin-bottom: 5%;
  }
  .ofrecimiento__servicios {
    width: 100%;
      margin-bottom: 5%;
    }
    .ofrecimiento__actividades {
        width: 100%;
        margin-bottom: 5%;
      }
        
    .contenedor__seccion-ubicacion{
      flex-wrap: wrap;
    }
    .seccion__ubicacion-2{
      width: 100%;
        margin-bottom: 5%;
    }
  
    .footer__principal {
        flex-direction: column;
      }
      .footer__caja {
          width: 120%;
          margin-bottom: 5%;
          margin-left: 30% ;
      }
      .footer__titulo{
        font-size: 0.5rem;
      }
    
    }
    @media screen and (max-width: 420px) {
      body{
        background-color: $oscuro;
      }
      .cabecera__logo {
          width: 10%;
      }
      .titulo__principal{
        font-size: 0.5rem;
      }
      .cabecera{
        width: 100%;
        margin: auto;
      }
      .cabecera__nav {
          width: 90%;
          flex-direction: column;
      }
    
      .cabecera__nav-menu {
          font-size: 1rem;
      }
      .menu__item-link {
        font-size: 1.5rem;
        padding: 2.5px;
        margin-left: 40px;
    }
    
      
    @media screen and(min-width: 420px) and (max-width: 768px) {
      .fotos img {
          height: 30vh;
      }
      .menu__item-link {
        font-size: 0.5rem;
        padding: 1px;
      }
      .cabecera__nav-menu {
        padding: 2px;
      }
      .cabecera__nav {
      width: 100%;
      
      }
        
    }
    
    @media screen and (max-width: 420px) {
      .fotos {
          width: 80%;
          margin: 2rem 10%;
      }
    
      .fotos img {
          height: 80%;
          width: 100%;
          margin-left: 30%;
      }
      .galeria__fotos{
        flex-direction: column;
      }
    
    @media screen and (max-width: 768px) {
        .contenedor__seccion-ubicacion {
            flex-direction: row;
            width: 100%;
        }
        .seccion__ubicacion-1 {
            width: 100%;
            margin-bottom: 2rem;
            flex-direction: row;
        }
        .cabecera{
          flex-direction: column;
        }
        .cabecera__nav-menu{
          flex-direction: column;
        }
    }
    }
 

  
  
  

  

  
     
      

      

      
      




  

   
    



   
  
  
   
 






   
   
  
  
    
    











    


      
         
   


  
    
  


 
  


  
  


          
          
        
    
    
    
    

      
      
      
      
        

 
    
       

      
       
        
        
        




        
        
          
        
        
       
        
        
    
       
            

      
    
      

    
      
      
      
    
      
   
}